<!-- Purpose: To confirm the user's phone number/account -->
{{>header}}

    <h2 class="text-center">Sealand Hosting Services</h2>

    <div class="grid-x grid-padding-x grid-margin-x">

        <div class="cell small-offset-3 small-6 grid-container callout">

            <h3>Confirm Account</h3>
            
            <form action="/app/confirm" method="POST">

                {{#comfirm_error_message}}
                <div class="grid-x grid-padding-x">

                    <div class="cell small-12 error">{{ comfirm_error_message }}</div>

                </div>
                {{/comfirm_error_message}}
            
                <div class="grid-x grid-padding-x">

                    <div class="cell small-4">Code:</div>
                    <div class="cell small-8"><input type="text" name="code" id="code" required></div>

                    <div class="cell small-12"><button type="submit" id="login-button" name="login-button" class="expanded button">Verify</button></div>

                </div>

            </form>

        </div>

    </div>

{{>footer}}