<!-- Purpose: To provide exclusive content only available if the user is logged in and has a valid subscription -->
{{>header}}

<h3>My Downloads</h3>

<p>This page is not available in the navigation when the user does not have a subscription/plan.</p>

{{>footer}}